[Resolve]
DNS={{ network.dns.primary | join(' ') }}
FallbackDNS={{ network.dns.fallback | join(' ') }}
DNSSEC={{ network.dnssec | default('allow-downgrade') }}
DNSOverTLS={{ network.dns_over_tls | default('opportunistic') }}
Cache=yes
LLMNR=no
MulticastDNS=no
